<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <title>USA Spending Data</title>
</head>
<body>
<button id="fetchBtn">Fetch Data</button>
<table id="dataTable" class="display">
    <thead>
        <tr>
            <th>Agency ID</th>
            <th>Toptier Code</th>
            <th>Agency Name</th>
            <th>Abbreviation</th>
            <th>Congressional Justification url</th>
            <th>Active fy</th>
            <th>Active fq</th>
            <th>Outlay Amount</th>
            <th>Obligated Amount</th>
            <th>Budget Authority Amount</th>
            <th>Current Total Budget Authority Amount</th>
            <th>Percentage of Total Budget Authority</th>
            <th>Agency Slug</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $('#fetchBtn').on('click', function() {
        $.getJSON('/fetch_data', function(data) {
            $('#dataTable').DataTable({
                data: data,
                columns: [
                    { data: 'agency_id'},
                    { data: 'toptier_code'}
                    { data: 'agency_name' },
                    { data: 'abbreviation' },
                    { data: 'congressional_justification_url'},
                    { data: 'active_fy'},
                    { data: 'active_fq'}
                    { data: 'outlay_amount' },
                    { data: 'obligated_amount' },
                    { data: 'budget_authority_amount'},
                    { data: 'current_total_budget_authority_amount' },
                    { data: 'percentage_of_total_budget_authority' },
                    { data: 'agency_slug'}
                ]
            });
        });
    });
</script>
</body>
</html>
